<section class="contacts" id="contacts">
  <div class="container contacts-container">
    <h2 class="section-title contacts-title">Let's Tell Your Story</h2>
    <p class="section-description contacts-text">
      I can't wait to hear more about your wedding! Tell me about your plans,
      and I'll be in touch to discuss how we can create magic together.
    </p>

    <ul class="contacts-list">
      <li class="contacts-item">
        <a
          class="text-link contacts-link"
          href="mailto:info@mariakovalenko.com"
        >
          <svg class="contacts-icon" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#mail"></use>
          </svg>
          info@mariakovalenko.com
        </a>
      </li>
      <li class="contacts-item">
        <a class="text-link contacts-link" href="tel:+405551234567">
          <svg class="contacts-icon" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#call"></use>
          </svg>
          +40 (555) 123-4567
        </a>
      </li>
      <li class="contacts-item">
        <a
          class="text-link contacts-link"
          href="https://www.google.com/maps/search/?api=1&query=Odesa+National+Academic+Opera+and+Ballet+Theatre,+Theatralnyi+Provulok+1,+Odesa,+Ukraine"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="contacts-icon" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#location-on"></use>
          </svg>
          Theatralnyi Provulok, 1, Odesa, Odesa Oblast, Ukraine, 65000
        </a>
      </li>
    </ul>

    <form class="contacts-form" name="contacts-form">
      <label class="contacts-label">
        <span class="contacts-label-text">Name*</span>
        <input
          class="contacts-input"
          type="text"
          name="name"
          autocomplete="name"
          placeholder="Maria"
          required
        />
      </label>

      <label class="contacts-label">
        <span class="contacts-label-text">Phone*</span>
        <input
          class="contacts-input"
          type="tel"
          name="phone"
          placeholder="+1 (202) 111 2323"
          autocomplete="tel"
          required
        />
      </label>

      <label class="contacts-label">
        <span class="contacts-label-text">Message</span>
        <textarea
          class="contacts-textarea"
          placeholder="Tell me a little about you and your special day. Don't forget to include your wedding date, venue, and what you're most excited about..."
          name="message"
        ></textarea>
      </label>

      <button
        class="button button--primary button--mobile-full contacts-btn"
        type="submit"
      >
        Let's Talk
      </button>
    </form>
  </div>
</section>
