<!-- #region footer -->

<!-- Поки без готових якірних посилань -->

<footer class="page-footer" id="footer">
  <div class="footer-container">
    <!-- #region footer-logo -->
    <div class="footer-logo-container">
      <svg class="footer-logo" width="206" height="180">
        <use href="../img/icons.svg#company-logo"></use>
        <a class="footer-logo-link" href="./"></a>
      </svg>
      <p class="footer-copyright-text">
        © 2025 Maria Kovalenko Photography. All rights reserved.
      </p>
    </div>
    <!-- #endregion footer-logo -->
    <!-- #region footer-nav -->
    <div class="footer-nav-container">
      <div class="footer-main-nav-container">
        <nav class="footer-nav">
          <h3 class="footer-nav-title">Menu</h3>
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">Home</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">About Me</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">Benefits</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">Portfolio</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- #region footer-socials -->
      <div class="footer-socials-container">
        <h3 class="footer-socials-title">Follow Me</h3>
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <svg class="social-icon" width="24" height="24">
              <use href="../img/icons.svg#facebook"></use>
            </svg>
            <a
              class="footer-socials-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener-noreferrer"
              >Facebook</a
            >
          </li>
          <li class="footer-socials-item">
            <svg class="social-icon" width="24" height="24">
              <use href="../img/icons.svg#instagram"></use>
            </svg>
            <a
              class="footer-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener-noreferrer"
              >Instagram</a
            >
          </li>
          <li class="footer-socials-item">
            <svg class="social-icon" width="24" height="24">
              <use href="../img/icons.svg#x"></use>
            </svg>
            <a
              class="footer-socials-link"
              href="https://x.com/"
              target="_blank"
              rel="noopener-noreferrer"
            >
              X</a
            >
          </li>
        </ul>
      </div>
      <!-- #endregion footer-socials -->
    </div>
    <!-- #endregion footer-nav -->
  </div>
</footer>
<!-- #endregion footer -->
